body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 241, 230);
}

h3 {
    color: rgb(92, 92, 81);
    font-size: 24px;
    font-weight: 700;
}

#cidade {
    font-style:italic;
}

img {
    border-radius: 50%;
}